.navbar {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    background-color: #f2f2f2;
}

.navbar__logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;

    &:hover {
        color: #007bff;
        cursor: pointer;
    }
}

a.active-link {
    font-weight: bold;
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 0.5rem;
}

