

<nav class="navbar">
    <h1 class="navbar__logo">codeacloud</h1>
    <div>
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
        <a routerLink="/blogs" routerLinkActive="active">Blogs</a>

        <ng-container *ngIf="authService.isLoggedIn(); else loginLink">
            <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            <a (click)="logout()">Logout</a>
        </ng-container>

        <ng-template #loginLink>
            <a routerLink="/login" routerLinkActive="active">Login</a>
        </ng-template>
    </div>
</nav>


<hr />
